body {
	font-family: Georgia, serif;
	background: #eee;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: large;
}

h3 {
	font-size: medium;
}

a:hover {
    text-decoration: underline;
}

#contentwrapper {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: 1px solid #aaa;
	background: #fafafa;
}

#header {
	border-bottom: 1px solid #aaa;
	background: #555;
	color: #fff;
	padding: 10px;
    font-size: small;
}

#header h1 {
	margin: 0;
	padding: 0;
}

#header a {
    color: #fff;
    font-size: small;
}

.bold {
    font-weight: bold;
}

#menu {
	border-bottom: 1px solid #aaa;
	background: #777;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 5px 0;
}

#menu li {
	display: inline;
}

#menu ul li a {
	text-decoration: none;
	color: #eee;
	background-color: #777;
	padding: 5px;
}

#menu ul li a:hover {
	color: #000;
	background-color: #eee;
}

#menu ul li#active a {
	color: #000;
	background-color: #ddd;
}

form.search {
    margin: 0;
    padding: 3px 0;
    color: #fff;
    font-size: small;
    padding-right: 1em;
}

form.search a {
    color: #fff;
}

#messages {
    color: #993333;
    font-size: small;
}

#content {
	padding: 10px;
}

input, textarea, select {
	background: #f2f2f2;
	padding: 2px;
	border: 1px solid #777;
	letter-spacing: -0.03em;
}

input[type=submit], input[type=button] { 
	background: #eee;
	color: #222;
	border: 1px outset #ccc;
	padding: .1em .5em;
}

input[type=submit]:hover, input[type=button]:hover { 
	background: #ccb;
}

.gentable {
	width: 90%;
}

.gentable td {
	text-align: left;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 5px;
}

.gentable th {
	padding: 5px;
	color: #333;
	background: #eee;
	border: 1px solid #ccc;
	font-size: medium;
}

#groups, #people {
    width: 100%;
}

#groups .members, #groups .actions, #admin .user, #admin .age {
	text-align: center;
}

#groups .description {
	font-size: small;
}

#tags {
    width: 100%;
}

textarea {
	overflow: auto;
}

ul#pagination {
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding: 5px 0;
}

#pagination li {
	display: inline;
}

ul#pagination li a {
	text-decoration: none;
	color: #eee;
	background-color: #777;
	padding: 5px;
}

ul#pagination li a:hover {
	color: #fff;
	background-color: #aaa;
}

.button {
	background: #ff6600;
	color: white !important;
	border-left:   1px solid #cc9966;
	border-top:    1px solid #ccaa99;
	border-right:  1px solid #993300;
	border-bottom: 1px solid #331100;
	padding: 0px 0.4em 0.2em 0.4em;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	margin-top: 1em;
}

.button:hover {
	 background: #ff9900;
}

#footer {
	font-size: small;
	text-align: right;
	border-top: 1px solid #aaa;
	background: #555;
	color: #fff;
	padding: 5px;
	clear: both;
}

#footer p {
	margin: 0;
	padding: 0;
}

.entryset-date {
    margin-bottom: 2em;
}

.entry {
    line-height: 130%;
    margin: 0 0 .8em 1em;
}

.entry-comment {
    /*
    display: block;
    */
    font-weight: normal;
    width: 60%;
}

.entry-link {
    font-size: large;
}

.entry-metadata {
    margin: 0.3em 0 0 1.2em;
    font-size: small;
}

.entry-links {
    color: #777;
}

.bookmarklet {
    border: 1px #222;
    padding: .5em;
}
