<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

{% include "header.html" %}
    

    <body id='top'>
    
        <div id='contentwrapper'>
        
        <div id='header'>
            <table width='100%' border='0' cellpadding='0' cellspacing='0'>
                <tr>
                    <td>
                        <h1>unalog</h1>
                    </td>
                    <td style='color:#eee;' align='right' valign='bottom'>
    
                        logged in as: 
                        <span class='bold'>dchud</span>
                        [<a href='/my/'>my</a>]
                        [<a href='/user/dchud'>entries</a>]
                        [<a href='/user/dchud/tag/'>tags</a>]
                        [<a href='/my/group/'>groups</a>]
                        [<a href='/my/filter/'>filters</a>]
                        [<a href='/my/prefs'>prefs</a>]
                        [<a href='/logout'><span class='bold'>logout</span</a>]
                        [<a href='/admin'>admin</a>]
                
                    </td>
                </tr>
            </table>
        </div>
        
        <div id='menu'>
            <table width='100%' border='0' cellpadding='0' cellspacing='0'>
                <tr>
                    <td>
            <ul>
        		<li id='active'><a href='/'>Home</a></li>
                <li><a href='/user'>People</a></li>
                <li><a href='/tag'>Tags</a></li>
                <li><a href='/group'>Groups</a></li>
                <li><a href='/about'>About</a></li>
                <li><a href='/about/contact'>Contact</a></li>
                <li><a href='http://onebiglibrary.net/taxonomy/term/1'>News</a></li>
            </ul>
                    </td>
                    <td align='right'>
                        <form class='search' action='/search' method='get'>
                            Search:
                            <input type='text' name='q' width='10' />
                            [<a href='/search'>hints</a>]
                        </form>
                    </td>
    
                </tr>
            </table>
        </div>

		<div id='content'>
{% block content %}
{% endblock %}
		</div>
        
{% include "footer.html" %}
		</div>
    </body>
</html>
    