<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

{% include "header.html" %}
    

    <body id='top'>
    
        <div id='contentwrapper'>
        
        <div id='header'>
            <table width='100%' border='0' cellpadding='0' cellspacing='0'>
                <tr>
                    <td>
                        <h1>unalog</h1>
                    </td>
                    <td style='color:#eee;' align='right' valign='bottom'>
    
						{% if user.is_authenticated %}
                        logged in as: 
                        <span class='bold'>{{ user.username }}</span>
                        [<a href='/my/'>my</a>]
                        [<a href='/user/{{ user.username }}/'>entries</a>]
                        [<a href='/user/{{ user.username }}/tags/'>tags</a>]
                        [<a href='/my/group/'>groups</a>]
                        [<a href='/my/filter/'>filters</a>]
                        [<a href='/my/prefs'>prefs</a>]
							{% if user.is_staff %}
                        [<a href='/admin'>admin</a>]
            				{% endif %}
                        [<a href='/logout/'><span class='bold'>logout</span</a>]
						{% else %}
						<form id='loginform' action='/login/' method='post'>
                     name <input name='user_id' type='text' size='8' />
                     pass <input name='user_pass' type='password' size='8' />
                     <input type='submit' name='login' value='login' />
                     [or: <a href='/register/'>register</a>]
	                    </form>
						{% endif %}
                    </td>
                </tr>
            </table>
        </div>
        
        <div id='menu'>
            <table width='100%' border='0' cellpadding='0' cellspacing='0'>
                <tr>
                    <td>
            <ul>
        		<li id='active'><a href='/'>Home</a></li>
                <li><a href='/user'>People</a></li>
                <li><a href='/tag'>Tags</a></li>
                <li><a href='/group'>Groups</a></li>
                <li><a href='/about'>About</a></li>
                <li><a href='/about/contact'>Contact</a></li>
                <li><a href='http://onebiglibrary.net/taxonomy/term/1'>News</a></li>
            </ul>
                    </td>
                    <td align='right'>
                        <form class='search' action='/search' method='get'>
                            Search:
                            <input type='text' name='q' width='10' value='not working yet'/>
                            [<a href='/search'>hints</a>]
                        </form>
                    </td>
    
                </tr>
            </table>
        </div>

		{% if messages %}
		<div id='messages'>
			<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}

		{% if request.session.message %}
		<div id='messages'>
			<ul>
				<li>{{ request.session.message }}</li>
			</ul>
		</div>
		{% endif %}


		<div id='content'>
{% block content %}
{% endblock %}
		</div>
        
{% include "footer.html" %}
		</div>
    </body>
</html>
    