<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

{% include "header.html" %}
    
    <body id='top'>
    
        <div id='contentwrapper'>
        
        <div id='header'>
            <table width='100%' border='0' cellpadding='0' cellspacing='0'>
                <tr>
                    <td>
                        <h1>unalog</h1>
                    </td>
                    <td style='color:#eee;' align='right' valign='bottom'>
    
						{% if user.is_authenticated %}
                        	logged in as: 
	                        <span class='bold'>{{ user.username }}</span>
							[<a href='{% url user user.username %}'>entries</a>]
	                        [<a href='{% url user_tags user.username %}'>tags</a>]
							[<a href='{% url bookmarklet %}'>bookmarklet</a>]
	                        [<a href='{% url user_filters user.username %}'>filters</a>]
							{% if user.is_staff %}
	                        [<a href='/admin/'>admin</a>]
	           				{% endif %}
	                        [<a href='{% url logout %}'>logout</a>]

							- (coming)
	                        [groups<!--[<a href='/my/group/'>groups</a>]-->]
	                        [prefs<!--<a href='/my/prefs'>prefs</a>-->]
                        
						{% else %}
							<form id='loginform' action='{% url login %}' method='post'>
		                     name <input name='username' type='text' size='8' />
		                     pass <input name='password' type='password' size='8' />
		                     <input type='submit' name='login' value='login' />
		                     [or: <a href='{% url register %}'>register</a>]
		                    </form>
						{% endif %}
                    </td>
                </tr>
            </table>
        </div>
        
        <div id='menu'>
            <table width='100%' border='0' cellpadding='0' cellspacing='0'>
                <tr>
                    <td>
            <ul>
        		<li id='active'><a href='{% url index %}'>Home</a></li>
                <li><a href='{% url tags %}'>Tags</a></li>
                <li><a href='{% url about %}'>About</a></li>
                <li><a href='{% url contact %}'>Contact</a></li>
                <li><a href='http://onebiglibrary.net/taxonomy/term/1'>News</a></li>
            </ul>
                    </td>
                    <td align='right'>
                        <form class='search' action='/search/' method='get' accept-charset='UTF-8'>
                            Search:
                            <input type='text' name='q' width='10' 
								{% if q %}value='{{ q }}'{% endif %}/>
                            [<a href='{% url search %}'>hints</a>]
                        </form>
                    </td>
    
                </tr>
            </table>
        </div>

		<div id='content'>
			{% if messages %}
			<div id='messages'>
				<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}

			{% block content %}
			{% endblock %}
		</div>
        
{% include "footer.html" %}
		</div>
    </body>
</html>
    