<head>

    <title>unalog: {% block title %}{{ title }}{% endblock %}</title>
    
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="Refresh" content="3600; URL=/" />
    
    <link type="text/css" rel="stylesheet" href="/s/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/s/css/style_print.css" media="print" />
    <link rel="shortcut icon" type="image/ico" href="http://unalog.com/favicon.ico" />
    
	{% if feed_url %}
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{ feed_url }}" />
    {% endif %}

</head>