{% extends "base.html" %}


{% block content %}

	<div id='entryset'>
    
{% regroup page.object_list by date_created.date as date_groups %}
{% for date_group in date_groups %}
	
   	<h2 class='timeline-daysep'>{{ date_group.grouper|date:"l, Y-m-d" }}</h2>

	{% for entry in date_group.list %}
		{% include "entry.html" %}
	{% endfor %}       

{% endfor %}

    </div>

	{% if page.has_other_pages %}
		{% include 'pagination.html' %}
	{% endif %}
	

    <p>
    Filtered 1 entry.  [<a href='http://unalog.com/my/filter'>Edit filters</a>]
    </p>

    <p>
        <a class='button' href='pda'>PDA</a>
        &nbsp;
        <a class='button' href='rss'>RSS</a>
        &nbsp;
        <a class='button' href='xbel'>XBEL</a>
        &nbsp;
        <a class='button' href='xobis'>XOBIS</a>
        &nbsp;
        <a class='button' href='mods'>MODS</a>
    </p>

{% endblock %}


