{% extends "base.html" %}

{% block content %}
{% if browse_user %}
<h2><a href='/user/{{ browse_user.username }}/'>{{ browse_user.username }}</a>'s tags</h2>
{% else %}
<h2>Tags for all users</h2>
{% endif %}

{% if page.object_list %}
<table id='tag_set' width='100%'>
	<tbody>
		<tr>
			<td width='50%' valign='top'>
				<h3>Sorted by count</h3>
<table id='tags' class='gentable' cellspacing='1'>
	<tbody>
	{% for count, name in page.object_list %}
		<tr>
			<th valign='top'>{{ count }}</th>
			{% if browse_user %}
			<td class='coll1' valign='top'><a rel='tag' href='/user/{{ browse_user.username }}/tag/{{ name }}/'>{{ name }}</a></td>
			{% else %}
			<td class='coll1' valign='top'><a rel='tag' href='/tag/{{ name }}/'>{{ name }}</a></td>			
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
			</td>
			
			<td width='50%' valign='top'>
				<h3>Sorted by tag</h3>
<table id='tags_alpha' class='gentable' cellspacing='1'>
	<tbody>
	{% for count, name in alpha_page.object_list %}
		<tr>
			<th valign='top'>{{ count }}</th>
			{% if browse_user %}
			<td class='coll1' valign='top'><a rel='tag' href='/user/{{ browse_user.username }}/tag/{{ name }}/'>{{ name }}</a></td>
			{% else %}
			<td class='coll1' valign='top'><a rel='tag' href='/tag/{{ name }}/'>{{ name }}</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
			</td>
			
			
		</tr>

		<tr>
			<td colspan='4'>
				<ul id='pagination'>
				    {% if page.has_previous %}
				    <li><a href='{{ request.path }}?p={{ page.previous_page_number }}'>Previous</a></li>
				    {% endif %}

					{% if page.has_next %}
				    <li><a href='{{ request.path }}?p={{ page.next_page_number }}'>Next</a></li>
					{% endif %}
				</ul>
			</td>
		</tr>

	</tbody>
</table>




{% endif %}
	

{% endblock %}