{% extends "base.html" %}

{% block content %}

<h2>Update entry {{ entry.id }}</h2>

<p>
Don't use <acronym title='Hypertext Markup Language'>HTML</acronym>; 
tags will be turned into literal text and not rendered properly.
</p>

<p>
Private entries will only be visible to you (see "my entries")
and other members of private groups to which they are added.
</p>

<form action='/entry/{{ entry.id }}/edit' method='POST'>
	<table>
		<tbody>
	{{ form.as_table }}
			<tr>
				<td></td>
				<td><input type='submit' value='stack' /></td>
			</tr>
		</tbody>
	</table>
</form>

{% endblock %}